/* reset a bunch of default css stuff first */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

/* settings to apply to the whole page */
*, html, body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size:   16px;
  line-height: 1.3em;
}

/* the p5js canvas! */
canvas {
  margin-top: 1.5em;
}

/* typography */
h1 {
  font-size:      2em;
  font-weight:    700;
  text-transform: uppercase;
}
p {
  font-size: 1em;
}

/* an extra-fancy paragraph */
.italic {
  font-style: italic;
}

/* links */
a, a:link, a:visited {
  color: rgb(0,150,255);
}
a:active, a:hover {
  color:           rgb(200,100,0);
  text-decoration: underline;
}

